@model trComplaintLv1
@using Microsoft.AspNetCore.Http;

@{
    @foreach (var aduan in (IEnumerable<listAduan>)ViewBag.oneCase)
    {
        ViewData["Title"] = aduan.Topics;
    }
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
}


<div class="section">
    <div class="card">

        @foreach (var aduan in (IEnumerable<listAduan>)ViewBag.oneCase)
        {
            <div class="card-header" style="background-color: white; color: black;">

                <div class="d-flex justify-content-end">
                    <div class="p-2 mr-auto">
                        <b>
                            ID : #@aduan.ID
                        </b>
                    </div>
                    <div class="p-2" style="margin-top:-10px;">

                        @if (String.IsNullOrEmpty(Context.Session.GetString("_Name")))
                        {
                            <button type="button" class="btn btn-primary btn-sm btn-round" style="font-size: 0.7142em; line-height: 12px;" data-toggle="popover" data-placement="left" data-content="Silahkan masuk untuk memberi dukungan." data-color="default">
                                <i class="fas fa-heart"></i>
                                <b> DUKUNG</b>
                            </button>
                        }
                        else
                        {
                            if (!String.IsNullOrEmpty(Convert.ToString(ViewData["chk"])))
                            {

                                <button disabled type="button" class="btn btn-default btn-sm btn-round" style="font-size: 0.7142em; line-height: 12px;">
                                    <i class="fas fa-heart"></i> <b>DUKUNG</b>
                                </button>

                            }
                            else
                            {

                                <button id="btnDuk" type="button" class="btn btn-primary btn-sm btn-round" style="font-size: 0.7142em; line-height: 12px;" onclick="plus(@Context.Session.GetInt32("_IDUser").Value,@aduan.ID);">
                                    <i class="fas fa-heart"></i> <b>DUKUNG</b>
                                </button>
                            }
                        }
                    </div>
                </div>

                <div class="d-flex justify-content-end" style="background-color: whitesmoke;">
                    <div class="p-2 mr-auto"><label><b>@aduan.Topics</b></label></div>
                    <div class="p-2">
                        <span class="fas fa-calendar-alt">
                            <label>
                                @String.Concat(" ", @aduan.createdDate)
                            </label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card-body" style="margin-top: -20px;">
                <div class="d-flex flex-column">
                    <div class="p-2">
                        @Html.Raw(aduan.Desc)
                    </div>
                    <div class="mt-2">
                        @foreach (var idPicture in ViewBag.imgSebelum)
                        {
                            <a href="#" class="pop">
                                <img src="http://dev.baruga.sulselprov.go.id/admin/assets/image_lapor/@idPicture.imgSrc"
                                     class="shadow rounded-lg float-sm-left ml-2"
                                     alt="@idPicture.caption"
                                     style="width:70px; height:70px" />
                            </a>
                        }
                    </div>
                </div>

            </div>

        }

        <div class="card-footer">
            <div class="d-flex" style="background-color: whitesmoke;">
                <div class="p-2 mr-auto" style="font-size: 12px; line-height: 12px;">
                    <b>
                        Tindak Lanjut :
                    </b>
                </div>
                <div class="p-2" style="font-size: 12px; line-height: 12px;">
                    <i class="fas fa-heart" style="color:orangered">&nbsp;</i>
                    <label id="output" class="text-muted">@ViewData["dukungan"]</label>
                    <label class="text-muted">Dukungan</label>
                </div>
            </div>



            <ul class="timeline">
                @foreach (var aduan in (IEnumerable<listAduan>)ViewBag.oneCase)
                {

                    if (aduan.Hide == "0")
                    {

                        <li>
                            <label class="h6">Dibuat</label>
                            <label class="float-right text-muted">@aduan.createdDate</label>
                            <p>
                                Dibuat oleh
                                <b>
                                    @String.Concat(@aduan.NamaDepan, " ", @aduan.NamaBelakang)
                                </b>
                            </p>
                        </li>
                    }
                    else
                    {
                        <li>
                            <label class="h6">Dibuat</label>
                            <label class="float-right text-muted">@aduan.createdDate</label>
                            <p>
                                Dibuat oleh
                                <b>
                                    Anonim
                                </b>
                            </p>
                        </li>
                    }

                    if (aduan.allocatedDate != null)
                    {
                        <li>
                            <label class="h6">Disposisi</label>
                            <label class="float-right text-muted">@aduan.allocatedDate</label>
                            <p>
                                Didisposisi ke <b>@ViewData["opd"]</b>
                            </p>
                        </li>
                        if (aduan.progressDate != null)
                        {
                            <li>
                                <label class="h6">Proses</label>
                                <label class="float-right text-muted">@aduan.progressDate</label>
                                <p>
                                    Diproses oleh <b>@ViewData["opd1"]</b>
                                </p>
                            </li>
                            if (aduan.solvedDate != null)
                            {
                                <li>
                                    <label class="h6">Selesai</label>
                                    <label class="float-right text-muted">@aduan.solvedDate</label>
                                    <p>
                                        @*@aduan.response*@
                                    </p>

                                    <div class="d-flex">
                                        @foreach (var idPicture in ViewBag.imgSesudah)
                                        {
                                            <a href="#" class="pop">
                                                <img src="http://dev.baruga.sulselprov.go.id/admin/assets/image_lapor/@idPicture.imgSrc" class="shadow rounded-lg float-sm-left ml-2" alt="@idPicture.caption" style="width:70px; height:70px" />
                                            </a>
                                        }
                                    </div>
                                </li>
                            }
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>


<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="" id="imagepreview"><hr />
                <em id="caption"></em>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(function () {
                $('.pop').on('click', function () {
                    var x = document.getElementById("caption");
                    $('#imagepreview').attr('src', $(this).find('img').attr('src'));
                    x.append($(this).find('img').attr('alt'));
                    $('#imagemodal').modal('show');
                });
            });

            LoadFrmRegis();
        })

        function plus(idUser, idCase)
        {
            $.get('@Url.Action("dukung", "aspirasi")?idUser='+idUser+'&idAduan='+idCase+'', null, function (result) {
                if (result == '00') {
                    $('#output').html(function (i, val) { return val * 1 + 1 });

                    var element = document.getElementById("btnDuk");
                    element.classList.remove("btn-primary");
                    element.classList.add("btn-default");

                    $('#btnDuk').attr("disabled", true);
                }
            })
        }

        function LoadFrmRegis()
        {
            $.get('@Url.Action("register", "Home")', null, function (result) {
                $('#dvregis').html(result);
                $.validator.unobtrusive.parse('#form-regis');

                $('#btnSimpan').click(function () {
                    ProsesRegis();
                })
            })
        }

        function ProsesRegis()
        {
            if ($('#form-regis').valid()) {
                $.post('@Url.Action("register", "Home")', $('#form-regis').serializeArray(), function (result) {
                    if (result == '00') {
                        $('#loginModal').modal('hide');

                        Swal.fire(
                            'Register Berhasil !',
                            'Silahkan masuk untuk memulai.',
                            'success'
                        )

                    }
                    else {
                        Swal.fire(
                            'Register Gagal !',
                            'Email sudah pernah digunakan atau silahkan menghubungi admin',
                            'error'
                        )
                    }
                })
            }
        }

    </script>
}

