@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Profil Pengguna";
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
}

<div class="section">
    <div class="card">
        <div class="card-header">
            Profil Pengguna
        </div>
        <div class="card-body">
            @{
                @foreach (var idUserPelapor in ViewBag.Profil)
                {
                    <div class="d-flex p-2 justify-content-center">
                        <div class="p-4">
                            <div class="input-group no-border">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Nama Depan" value="@idUserPelapor.namaDepan">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Nama Belakang" value="@idUserPelapor.namaBelakang">
                                    </div>
                                </div>
                            </div>

                            <div class="input-group no-border">
                                <input type="text" class="form-control" placeholder="Email" value="@idUserPelapor.email" disabled>
                            </div>

                            <div class="input-group no-border">
                                <input type="text" class="form-control" placeholder="No Telepon" value="@idUserPelapor.phone">
                            </div>

                            <div class="input-group no-border">
                                <textarea rows="8" class="form-control" placeholder="Alamat">
                                           @idUserPelapor.address
                                </textarea>
                            </div>

                        </div>
                        <div class="p-4">
                            <img src="http://admin.baruga.sulselprov.go.id/assets/image_lapor/20190308211152-0__IMG_0001.JPG" alt="" class="shadow rounded-lg" style="height: 210px; width: 210px;">
                        </div>
                    </div>
                }
            }
        </div>

        <div class="card-footer">
            <div class="p-2">
                <input type="submit" class="btn btn-primary btn-round btn-block" value="Simpan" />
            </div>
        </div>
    </div>
</div>

